@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    background: white;
    font-family: 'Quicksand', sans-serif;
}

footer {
    background-color: #0C000E;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

.navbar {
    background-color: white;
    width: 100%;
}

.navbar-brand {
    padding-left: 20px;
}

h1 {
    color: #FFA53B;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0vw;
}

.inicio {
    background-image: url("img/tela_inicial.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 15vw;
    padding-bottom: 15vw;
    color: white;
}

.sobre {
    background-image: url("img/aboutme.png");
    background-color: #F5F5F5;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 15vw;
    padding-bottom: 15vw;
    color: white;
}

.apresentacao1 {
    font-weight: bold;
    font-size: 75px;
}

.apresentacao2 {
    padding-bottom: 25px;
}

.barra {
    padding-bottom: 5px;
}

.titulo {
    text-align: left;
    padding-top: 80px;
    padding-bottom: 25px;
}

.titulo_sobre {
    text-align: right;
    padding-top: 80px;
    padding-bottom: 25px;
}

.bt_midia {
    width: 160px;
    height: 40px;
}

.portfolio{
    background-color: #F5F5F5;
    background-size: 100vw;
    padding-bottom: 10vw;
    width: 100%;
    height: 100%;
    color: #111111;
}

.habilidades {
    background-color: #F5F5F5;
    background-size: 100vw;
    width: 100%;
    height: 100%;
    padding-bottom: 3vw;
    color: #111111;
}
