@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  background: #f5f5f5;
  font-family: "Quicksand", sans-serif;
}

footer {
  background-color: #0c000e;
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

/* TEXTOS E TÍTULOS */

h1 {
  color: #f5f5f5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0vw;
}

.apresentacao1 {
  font-weight: bold;
  font-size: 75px;
}

.apresentacao2 {
  padding-bottom: 25px;
}

.apresentacao_sobre {
  color: #2e4861;
  font-weight: bold;
  font-size: 75px;
}

.titulo {
  text-align: left;
  padding-top: 80px;
  padding-bottom: 25px;
}

/* NAVBAR */

.navbar {
  background-color: white;
  width: 100%;
}

.navbar-brand {
  padding-left: 20px;
}

/* INICIO */

.inicio {
  background-image: url("img/inicio.png");
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 15vw;
  padding-bottom: 15vw;
  color: white;
}

/* SOBRE */

.foto {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 25px;
}

.titulo_sobre {
  color: #2e4861;
  text-align: center;
  padding-top: 80px;
}

.sobre {
  background-color: #f5f5f5;
  text-align: justify;
}

.sobre_mim {
  color: black;
  text-align: justify;
}

.bt_midia {
  width: 160px;
  height: 40px;
}

.botao_direita {
  text-align: right;
}

.bt_cor {
  color: #2e4861;
  border-color: #2e4861;
}

.bt_cor:hover {
  color: white;
  background-color: #2e4861;
  border-color: #2e4861;
}

/* PORTFOLIO */

.titulo_port {
  color: #2e4861;
  font-size: 50px;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 25px;
}

.portfolio {
  background-color: #f5f5f5;
  background-size: 100vw;
  width: 100%;
  height: 100%;
  color: #111111;
}

/*  HABILIDADES */

.titulo_hab {
  color: #2e4861;
  font-size: 50px;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 25px;
}

.habilidades {
  background-color: #f5f5f5;
  background-size: 100vw;
  width: 100%;
  height: 100%;
  padding-bottom: 3vw;
  color: #111111;
}
